body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.table {
  text-align: center;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.d-flex a {
  margin-right: 15px;
}

